openapi: 3.0.0
info:
  title: Stability Auth API
  version: 1.0.0
  description: Authentication service for Stability Protocol
servers:
  - url: https://auth.stabilityprotocol.com
    description: Production Server
  - url: http://localhost:3000
    description: Local Development Server

paths:
  /v1/auth/handover:
    post:
      summary: Handover authentication token for desktop app
      description: Used by the Web UI to pass a generated authentication token to a waiting desktop application request.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - requestId
                - token
              properties:
                requestId:
                  type: string
                  description: Unique ID generated by the desktop app
                  example: "uuid-1234-5678"
                token:
                  type: string
                  description: The JWT authentication token
                  example: "ey..."
      responses:
        "200":
          description: Handover successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
        "400":
          description: Missing requestId or token
        "500":
          description: Internal Server Error

  /v1/auth/poll/{requestId}:
    get:
      summary: Poll for authentication token
      description: Used by the desktop app to poll for the authentication token associated with its request ID. One-time use; token is deleted after retrieval.
      parameters:
        - in: path
          name: requestId
          required: true
          schema:
            type: string
          description: Unique ID generated by the desktop app
      responses:
        "200":
          description: Token retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    description: The JWT authentication token
        "404":
          description: Request ID not found or token not yet available (Pending)
        "400":
          description: Missing requestId
        "500":
          description: Internal Server Error

  /oauth2/google:
    get:
      summary: Initiate Google OAuth2
      parameters:
        - in: query
          name: redirect_to
          required: true
          schema:
            type: string
          description: URL to redirect to after successful authentication
      responses:
        "302":
          description: Redirects to Google Login

  /oauth2/microsoft:
    get:
      summary: Initiate Microsoft OAuth2
      parameters:
        - in: query
          name: redirect_to
          required: true
          schema:
            type: string
          description: URL to redirect to after successful authentication
      responses:
        "302":
          description: Redirects to Microsoft Login
