openapi: 3.0.0
info:
  title: Stability Auth API
  version: 1.0.0
  description: Authentication service for Stability Protocol
servers:
  - url: https://auth.stabilityprotocol.com
    description: Production Server
  - url: http://localhost:3000
    description: Local Development Server

paths:
  /v1/auth/handover:
    post:
      summary: Handover authentication token for desktop app
      description: Used by the Web UI to pass a generated authentication token to a waiting desktop application request.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - requestId
              properties:
                requestId:
                  type: string
                  description: Unique ID generated by the desktop app
                  example: "uuid-1234-5678"
      responses:
        "200":
          description: Handover successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
        "400":
          description: Missing requestId
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Missing requestId"
        "401":
          description: Missing or invalid authorization header or invalid token
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Missing or invalid authorization header"
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error

  /v1/auth/poll/{requestId}:
    get:
      summary: Poll for authentication token
      description: Used by the desktop app to poll for the authentication token associated with its request ID. One-time use; token is deleted after retrieval.
      parameters:
        - in: path
          name: requestId
          required: true
          schema:
            type: string
          description: Unique ID generated by the desktop app
      responses:
        "200":
          description: Token retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    description: The JWT authentication token
        "404":
          description: Request ID not found or token not yet available (Pending)
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Pending or Not Found"
        "400":
          description: Missing requestId
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Missing requestId"
        "500":
          description: Internal Server Error

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  /v1/auth/regenerate-token:
    post:
      summary: Regenerate authentication token
      description: Regenerates a JWT authentication token for the currently authenticated user.
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Token regenerated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  value:
                    type: string
                    description: The new JWT authentication token
        "401":
          description: Missing or invalid authorization header or invalid token
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        "500":
          description: Internal Server Error

  /v1/auth/is-authorized:
    post:
      summary: Check if current token is authorized
      description: Validates the current JWT and returns its decoded payload if valid.
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Token is valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  value:
                    type: object
                    description: Decoded JWT payload
        "401":
          description: Missing or invalid authorization header or invalid token
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        "500":
          description: Internal Server Error
